<h1>Participations#show</h1>
<p><%= @participation["record"]['serial_number']['value'] %></p>
<p><%= @participation["record"]['subject']['value'] %></p>
<p><%= @participation["record"]['estimates_deadline']['value'] %></p>
<p><%= @participation["record"]['company_address']['value'] %></p>
<p><%= @participation["record"]['company_name']['value'] %></p>
<p><%= @participation["record"]['director']['value'] %></p>
<p><%= @participation["record"]['staff']['value'] %></p>
<p><%= @participation["record"]['telephone_number']['value'] %></p>
<p><%= @participation["record"]['fax_number']['value'] %></p>
